<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <h1 class="title">
    <a href="/">Abacus</a>
  </h1>
  <h2>
    The Open Source HTML5 Game Framework
  </h2>

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Abacus<br />
        The Open Source HTML5 Game Framework</br>
        <a href="http://abacus.com">http://abacusjs.com</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://webchat.freenode.net/?channels=abacus">#abacus on freenode</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/abacus/abacus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>


<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1464992-51");
pageTracker._trackPageview();
} catch(err) {}
</script>
<!-- Google Analytics end -->

</body>
</html>
